<h1>Merchant names</h1>
<br>
<table>
  <% for merchant in @merchants%>
  <tr>
    <td><a href="/merchant/<%= merchant.id %>"><%= merchant.name %></a></td>
  </tr>
  <%end%>
</table>

<br><br><br>
<p><a class="edit" href="/merchant/new">Add new merchant</a></p>
<br><br>