<form action="/merchants" method="POST">

<label class="edit" for="name">Name:</label>
<input type="text" id="name" name="name"><br>

<input class="button" type="submit" value="Add new merchant">
  
</form>